@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/*  font-family: "Nanum Pen Script", cursive; */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OTEnjoystoriesBA';
    background-color: #252D35;
}


#wrap {
    max-width: clamp(1920px, 50vw, 430px, );
    position: relative;
    overflow: hidden;
}

#wrap .contents {
    height: 100vh;
    overflow: hidden;
}

video {
    object-fit: cover;
    overflow-clip-margin: none;
    overflow: hidden;
}

/* gnb */
header .gnb {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px 0;
}

.gnb .left_gnb {
    font-size: 40px;
    color: #FF170C;
    margin-left: 50px;
}

.gnb .right_gnb {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

}

.right_gnb li a {
    position: relative;
    display: block;
    font-size: 25px;
    color: #fff;
    transition: all 0.5s;

}

.right_gnb li a:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #31c25a;
    transition: all 0.3s;
}

.right_gnb li a:hover {
    color: #31c25a;
}

.right_gnb li a:hover::before {
    width: 100%;
    color: #31c25a;

}

/* introduce */
.introduce {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;

}

.introduce .myself {
    width: 60%;
    font-size: 100px;
    color: #000;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.introduce .myself {
    position: relative;
    font: 100px;
    color: #000;
    text-align: left;

}

.introduce .myself span {
    font-size: 100px;
    color: #000;

}

.introduce .under_bar {
    position: absolute;
    top: 0;
    left: 6%;
    font-size: 100px;
    color: #f3e51d;
    border-right: 5px solid black;
    width: 23ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(10, end),
        blink-caret .5s step-end infinite alternate;
}

.introduce>.pub {
    width: 65%;
    font-size: 100px;
    color: #000;
    text-align: center;

}

/* contents introduction */

#wrap .contents #itdt {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contents .itdt_left .rotate {
    width: 600px;
    height: 600px;
    perspective: 3000px;
}

.contents .itdt_left .normal {
    backface-visibility: hidden;
    transition: 1s;
}

.itdt_left .rotate .normal img {
    width: 600px;
}

.itdt_left .rotate .normal.front {
    position: absolute;
    transform: rotateY(0);
}

.itdt_left .rotate:hover .normal.front {
    transform: rotateY(180deg);
}

.itdt_left .rotate .normal.back {
    width: 400px;
    transform: rotateY(-180deg);
}

.itdt_left .rotate:hover .normal.back {
    transform: rotateY(0deg);
}

.contents .itdt_right {
    width: 40%;
}

.contents .itdt_right .about_me {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contents .itdt_right .about_me li {
    margin-bottom: 80px;
}

.contents .itdt_right .about_me li a {
    width: 300px;
    display: block;
    font-size: 40px;
    color: #ccc;
    margin-bottom: 30px;

}

.contents .itdt_right .about_me li p {
    font-size: 28px;
    color: #fff;
    line-height: 1.8;
}

.contents .itdt_right .about_me li p img {
    width: 50px;
}

/* porpolio */
.contents #popor {
    max-width: 100%;
    height: 100vh;
    padding: 10px 0;
}

#popor .designTop {
    margin-bottom: 100px;
}

#popor .designTop>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  gap: 100px; */
}

#popor .designTop>ul>li {
    position: relative;
    width: calc(70% / 8);
    perspective: 3000px;


}

#popor .designTop>ul>li a {
    width: 240px;
    height: 200px;
    display: block;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.774);
}

.designTop>ul>li:first-child a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/나만의\ 카드\ 만들기.png)no-repeat top / cover;

}

.designTop>ul>li:nth-child(2) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/카드만들기.png)no-repeat top / cover;

}

.designTop>ul>li:nth-child(3) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/북커버.png)no-repeat top / cover;
}

.designTop>ul>li:nth-child(4) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/이메일팝업.png)no-repeat center / cover;
}

.designTop>ul>li:nth-child(5) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/카드ui레이아웃.png)no-repeat center / cover;
}

.designTop>ul>li:nth-child(6) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/표지\ 디자인.png)no-repeat top / cover;
}

.designTop>ul>li:nth-child(7) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/사진붙이기.png)no-repeat top / cover;
}

.designTop>ul>li:nth-child(8) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/환경포스커.png)no-repeat top / cover;
}

#popor .designBottom {
    margin-bottom: 90px;
}

#popor .designBottom>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  gap: 100px; */
}

#popor .designBottom>ul>li {
    position: relative;
    width: calc(70% / 8);
    perspective: 3000px;


}

#popor .designBottom>ul>li a {
    width: 240px;
    height: 200px;
    display: block;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.774);
}

.designBottom>ul>li:first-child a {
    transform: skewY(15deg) rotateY(-45deg);
    width: 240px;
    height: 200px;
    background: url(../img/디자인구성요소.png)no-repeat top / cover;

}

.designBottom>ul>li:nth-child(2) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/디자인-시안-제출용1.png)no-repeat top / cover;

}

.designBottom>ul>li:nth-child(3) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/sub-pc디자인-구성요소\ 최종.png)no-repeat top / cover;
}

.designBottom>ul>li:nth-child(4) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/sub모바일-디자인-시안.png)no-repeat top / cover;
}

.designBottom>ul>li:nth-child(5) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/쇼핑몰-상세페이지-시안.png)no-repeat top / cover;
}

.designBottom>ul>li:nth-child(6) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/NBA.png)no-repeat center / cover;
}

.designBottom>ul>li:nth-child(7) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/내가만듬/종이효과.png)no-repeat left / cover;
}

.designBottom>ul>li:nth-child(8) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/내가만듬/환상적\ 아트워크.png)no-repeat center / cover;
}

.loop:first-child {
    margin-bottom: 80px;
}

.loop {
    text-align: center;
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    font-weight: 300;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.loop>p {
    font-size: 100px;
    color: #fff;
    opacity: 15%;
    animation: loop 30s linear infinite;

}

@keyframes loop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* accordion */
.addAccor {
    height: 100vh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;

}


.first_web {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 50%;
    font-size: 60px;
    /*  font-family: "Pretendard Variable"; */
    margin-bottom: 10px;
    cursor: pointer;
    /*  background: #fff; */
    border: 3px solid #fff;
    color: #000;
    border-radius: 1px;
    text-align: left;
}

.first_web .view_web h3 {
    font-size: 70px;
    color: #fff;
    margin: 10px 0 40px 0;
}

.first_web .view_web .makeLogo {
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
}

.first_web .view_web .makeLogo img:nth-child(2) {
    width: 120px;
    height: 50px;
}

.first_web .view_web .makeLogo img:nth-child(3) {
    width: 50px;
    height: 50px;
}

.first_web .view_web .makeLogo img:nth-child(4) {
    width: 120px;
    height: 50px;
}

.first_web .view_web .makeLogo img:nth-child(5) {
    width: 50px;
    height: 50px;
}

.first_web .view_web .types {
    font-size: 45px;
    margin-bottom: 25px;
    color: #fff;
}

.first_web .view_web .types span {
    margin-left: 10px;
}

.first_web .view_web .tools {
    font-size: 45px;
    color: #fff;
}

.first_web .view_web .tools span img {
    width: 40px;
    height: 40px;
}

.first_web .view_web span img:first-child {
    width: 30px;
    height: 50px;
}

.first_web .view_web span img:nth-child(2) {
    width: 30px;
    height: 50px;
}

.first_web .view_web span img:nth-child(3) {
    width: 30px;
    height: 50px;
}

.first_web a {
    display: block;

}


.subFirst_web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-height: 200px;
    overflow: hidden;
    gap: 10px;
    transition: max-height 0.8s ease;
}

.subFirst_web a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 45px;
    color: #fff;
    background-color: #FF170C;
    border-radius: 50px;
}

.subFirst_web a:hover {
    text-decoration: underline;
}

/* TeamWork */
#TeamWork {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#TeamWork .team_left .team_name {
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}

#TeamWork .team_left .project {
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}

#TeamWork .team_left .tools {
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}

#TeamWork .team_left .tools span img {
    width: 50px;
    height: 50px;
}

#TeamWork .team_left .addView {
    position: relative;
    font-size: 35px;
    color: #fff;
}

#TeamWork .team_left .addView a {
    display: block;
    text-align: center;
    background-color: #6ea5ca;
    border-radius: 50px;
    margin-bottom: 20px;
}

#TeamWork .team_left .addView a:hover {
    background-color: #84c8f4;
}


#TeamWork .team_right {
    position: relative;

}

#TeamWork .team_right img:first-child {
    width: 500px;
    height: 420px;
}

#TeamWork .team_right img:nth-child(2) {
    position: absolute;
    top: 38%;
    left: -30%;
    width: 350px;
    height: 260px;
}

#TeamWork .team_right img:nth-child(3) {
    position: absolute;
    top: 30%;
    right: -45%;
    transform: rotateZ(15deg);
    width: 380px;
    height: 380px;
}

#TeamWork .team_right img:nth-child(4) {
    position: absolute;
    top: 65%;
    right: -26%;
    transform: rotateX(40deg);
    width: 800px;
    height: 280px;
    z-index: -1;
}

#TeamWork .team_right img:nth-child(5) {
    position: absolute;
    top: -20%;
    left: -25%;
    width: 80px;
    height: 100px;
    animation: cursor 1s infinite linear alternate;
}

@keyframes cursor {
    from {
        transform: rotateZ(180deg) translateX(0) translateY(0);
    }

    to {
        transform: rotateZ(180deg) translateX(30px) translateY(30px);
    }
}

/* Contact */
#Contact {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.ani {
    position: absolute;
    top: 0%;
    left: -20%;

}

.inner {
    transform: rotateZ(-15deg);
}

.police-line {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    opacity: 75%;
    padding: 2px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, black 40%, transparent 60%),
        linear-gradient(90deg, black 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner .police-line>p {
    font-size: 100px;
    color: #000000;
    opacity: 100%;
    animation: inner 60s linear infinite alternate;

}

@keyframes inner {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}




.ani01 {
    position: absolute;
    top: 50%;
    left: -29%;

}

.inner01 {
    transform: rotateZ(-10deg);
    opacity: 75%;

}

.police-line01 {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    padding: 2px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, black 40%, transparent 60%),
        linear-gradient(90deg, black 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner01 .police-line01>p {
    font-size: 100px;
    color: #000000;
    opacity: 100%;
    animation: inner01 60s linear infinite alternate;

}

@keyframes inner01 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.ani02 {
    position: absolute;
    top: 50%;
    left: -40%;

}

.inner02 {
    transform: rotateZ(15deg)
}

.police-line02 {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    padding: 2px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, black 40%, transparent 60%),
        linear-gradient(90deg, black 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner02 .police-line02>p {
    font-size: 100px;
    color: #000000;
    opacity: 100%;
    animation: inner02 60s linear infinite alternate;

}

@keyframes inner02 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.ani03 {
    position: absolute;
    top: 80%;
    left: -29%;
}

.inner03 {

    transform: rotateZ(5deg);


}

.police-line03 {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    padding: 2px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, black 40%, transparent 60%),
        linear-gradient(90deg, black 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner03 .police-line03>p {
    font-size: 100px;
    color: #000000;
    opacity: 100%;
    animation: inner03 60s linear infinite alternate;

}

@keyframes inner03 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}