@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/*  font-family: "Nanum Pen Script", cursive; */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'OTEnjoystoriesBA';
    background-color: #252D35;
}


#wrap {
    max-width: clamp(1920px, 50vw, 430px, );
    position: relative;
    overflow: hidden;
}

#wrap .contents {
    height: 100vh;
    overflow: hidden;
}

.movie {
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
.movie video {
    width: 100%;
    max-width: 100%;
}

/* gnb */
header .gnb {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    padding: 10px 0;
}

.gnb .left_gnb {
    font-size: 40px;
    color: #FF170C;
    margin-left: 50px;
}

.gnb .right_gnb {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;

}

.right_gnb li a {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: "Pretendard Variable";
    color: #fff;
    transition: all 0.5s;

}

.right_gnb li a:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background: #31c25a;
    transition: all 0.3s;
}

.right_gnb li a:hover {
    color: #31c25a;
}

.right_gnb li a:hover::before {
    width: 100%;
    color: #31c25a;

}

/* introduce */
.introduce {
    width: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: center;

}

.introduce .myself {
    width: 60%;
    font-size: 100px;
    color: #000;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

.introduce .myself {
    position: relative;
    font: 100px;
    color: #000;
    text-align: left;

}

.introduce .myself span {
    font-size: 100px;
    color: #000;

}

.introduce .under_bar {
    position: absolute;
    top: 0;
    left: 6%;
    font-size: 100px;
    color: #fff;
    border-right: 5px solid black;
    width: 24.5ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(10, end),
        blink-caret .5s step-end infinite alternate;
}

.introduce>.pub {
    width: 65%;
    font-size: 100px;
    color: #000;
    text-align: center;

}

/* contents introduction */

#wrap .contents #itdt {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contents .itdt_left .rotate {
    width: 600px;
    height: 600px;
    perspective: 3000px;
}

.contents .itdt_left .normal {
    backface-visibility: hidden;
    transition: 1s;
}

.itdt_left .rotate .normal img {
    height: 600px;
}

.itdt_left .rotate .normal.front {
    position: absolute;
    transform: rotateY(0);
}

.itdt_left .rotate:hover .normal.front {
    transform: rotateY(180deg);
}

.itdt_left .rotate .normal.back {
    width: 400px;
    transform: rotateY(-180deg);
}

.itdt_left .rotate:hover .normal.back {
    transform: rotateY(0deg);
}

.contents .itdt_right {
    width: 40%;
}

.contents .itdt_right .about_me {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contents .itdt_right .about_me li {
    margin-bottom: 50px;
}

.contents .itdt_right .about_me li span {
    width: 300px;
    display: block;
    font-size: 35px;
    font-weight: 600;
    font-family: "Pretendard Variable";
    color: #ccc;
    margin-bottom: 30px;

}

.contents .itdt_right .about_me li p {
    font-size: 18px;
    font-weight: 400;
    font-family: "Pretendard Variable";
    color: #fff;
    line-height: 1.8;
}

.about_me li p img {
    width: 30px;
}
.about_me li .scroll_skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.about_me li .scroll_skill li {
    margin-right: 15px;
}
.about_me li .scroll_skill li:last-child {
    width: 100%;
}
.about_me li .scroll_skill li:last-child a {
    display: block;
    width: 120px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: "Pretendard Variable";
    color: #000;
    text-align: center;
}
.about_me li .scroll_skill li img {
    width: 30px;
}
/* porpolio */
.contents #popol {
    max-width: 100%;
    height: 100vh;
    padding: 10px 0;
}

#popol .designTop {
    margin-bottom: 100px;
}

#popol .designTop>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  gap: 100px; */
}

#popol .designTop>ul>li {
    width: calc(70% / 8);
    perspective: 3000px;


}

#popol .designTop>ul>li a {
    position: relative;
    width: 240px;
    height: 200px;
    display: block;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.774);
}
#popol .designTop>ul>li a::after {
    width: 240px;
    height: 200px;
    content: "Click";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    text-align: center;
    line-height: 5.5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.774);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#popol .designTop>ul>li a:hover::after {
    opacity: 1;
}

#popol .designTop>ul>li a:hover {
    background-color: rgba(0, 0, 0, 0.774);
}
#popol .designTop>ul>li a:hover {
    width: 240px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.774);
}
.designTop>ul>li:first-child a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/나만의\ 카드\ 만들기.png)no-repeat top / cover;

}

.designTop>ul>li:nth-child(2) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/카드만들기.png)no-repeat top / cover;

}

.designTop>ul>li:nth-child(3) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/북커버.png)no-repeat top / cover;
}

.designTop>ul>li:nth-child(4) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/이메일팝업.png)no-repeat center / cover;
}

.designTop>ul>li:nth-child(5) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/LOOVERID.png)no-repeat center / cover;
}

.designTop>ul>li:nth-child(6) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/표지\ 디자인.png)no-repeat top / cover;
}

.designTop>ul>li:nth-child(7) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/사진붙이기.png)no-repeat top / cover;
}

.designTop>ul>li:nth-child(8) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/MUSICBOX.png)no-repeat top / cover;
}

#popol .designBottom {
    margin-bottom: 90px;
}

#popol .designBottom>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /*  gap: 100px; */
}

#popol .designBottom>ul>li {
   
    width: calc(70% / 8);
    perspective: 3000px;


}

#popol .designBottom>ul>li a {
    position: relative;
    width: 240px;
    height: 200px;
    display: block;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.774);
}

#popol .designBottom>ul>li a::after {
    width: 240px;
    height: 200px;
    content: "Click";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    text-align: center;
    line-height: 5.5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.774);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#popol .designBottom>ul>li a:hover::after {
    opacity: 1;
}

#popol .designBottom>ul>li a:hover {
    background-color: rgba(0, 0, 0, 0.774);
}
#popol .designBottom>ul>li a:hover {
    width: 240px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.774);
}
.designBottom>ul>li:first-child a {
    transform: skewY(15deg) rotateY(-45deg);
    width: 240px;
    height: 200px;
    background: url(../img/디자인구성요소.png)no-repeat top / cover;

}

.designBottom>ul>li:nth-child(2) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/디자인-시안-제출용1.png)no-repeat top / cover;

}

.designBottom>ul>li:nth-child(3) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/sub-pc디자인-구성요소\ 최종.png)no-repeat top / cover;
}

.designBottom>ul>li:nth-child(4) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/sub모바일-디자인-시안.png)no-repeat top / cover;
}

.designBottom>ul>li:nth-child(5) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/쇼핑몰-상세페이지-시안.png)no-repeat top / cover;
}

.designBottom>ul>li:nth-child(6) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/NBA.png)no-repeat center / cover;
}

.designBottom>ul>li:nth-child(7) a {
    transform: skewY(15deg) rotateY(-45deg);
    background: url(../img/종이효과.png)no-repeat left / cover;
}

.designBottom>ul>li:nth-child(8) a {
    transform: skewY(-15deg) rotateY(45deg);
    background: url(../img/환상적\ 아트워크.png)no-repeat center / cover;
}

.loop:first-child {
    margin-bottom: 80px;
}

.loop {
    text-align: center;
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    font-weight: 300;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.loop>p {
    font-size: 100px;
    color: #fff;
    opacity: 15%;
    animation: loop 30s linear infinite;

}

@keyframes loop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

/* accordion */
.addAccor {
    height: 100vh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;

}


.first_web {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 60vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #33373b;
   /*  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    max-width: 100%;
}
.view_all {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90%;
}
.view_web {
    width: 40%;
    margin-bottom: 20px;
    text-align: left;
}

.view_web h3 {
    font-size: 50px;
    color: #fff;
    font-family: "Pretendard Variable";
    font-weight: 600;
    margin-bottom: 50px;
}

.view_web p {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Pretendard Variable";
    color: #f0f0f0;
    margin-bottom: 30px;
    line-height: 1.6;
}
.explanation {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.makeLogo span {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-right: 10px;
}

.makeLogo img {
    margin: 5px;
    max-width: 50px;
}

.types span {
    margin-right: 10px;
}
.tools span {
    margin-right: 10px;
}
.tools img {
    margin: 5px;
    max-width: 30px;
}

.tools img:nth-child(2) {
    width: 20px;
}
.tools img:nth-child(3) {
    width: 20px;
}
.tools img:nth-child(4) {
    width: 20px;
}
.tools img:nth-child(5) {
    width: 25px;
}


.subFirst_web {
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

.subFirst_web ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.subFirst_web ul li {
    margin: 10px;
}

.subFirst_web ul li a {
    display: block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    font-size: 18px;
    font-weight: 400;
    font-family: "Pretendard Variable";
    color: #111;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.subFirst_web ul li a:hover {
    background-color: #c7c7c7;
}

.down:hover .sub_down {
    display: block;
}

.sub_down {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
}

.sub_down li {
    margin: 5px 0;
}

.sub_down li a {
    padding: 5px 15px;
    font-size: 14px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.sub_down li a:hover {
    background-color: #ddd;
}
.view_left {
    position: relative;
}
.view_left img:first-child {
    width: 450px;
}
.view_left img:nth-child(2) {
    width: 100px;
    position: absolute;
    bottom: 0%;
    right: 0%;
}


/* TeamWork */
#TeamWork {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.team_left {
    font-family: "Pretendard Variable";
}
#TeamWork .team_left .team_name {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 50px;
}

#TeamWork .team_left .project {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.explanation {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    line-height: 1.4;
}
#TeamWork .team_left .tools {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}
#TeamWork .team_left .colors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    color: #fff;
    text-align: left;
    margin-bottom: 40px;
}
#TeamWork .team_left .colors span {
    margin-right: 10px;
}
#TeamWork .team_left .colors .cercle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #B62625;
}
#TeamWork .team_left .colors .cercle01 {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #3325B6;
}
#TeamWork .team_left .colors .cercle02 {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #9BCE5B;
}
#TeamWork .team_left .tools > img {
    width: 40px;
}

#TeamWork .team_left .addView {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-family: "Pretendard Variable";
    color: #fff;
}

#TeamWork .team_left .addView a {
    width: 400px;
    display: block;
    text-align: center;
    background-color: #6ea5ca;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#TeamWork .team_left .addView a:hover {
    background-color: #84c8f4;
}


#TeamWork .team_right {
    position: relative;

}

#TeamWork .team_right img:first-child {
    width: 500px;
    height: 420px;
}

#TeamWork .team_right img:nth-child(2) {
    position: absolute;
    top: 38%;
    left: -30%;
    width: 350px;
    height: 260px;
}

#TeamWork .team_right img:nth-child(3) {
    position: absolute;
    top: 30%;
    right: -45%;
    transform: rotateZ(15deg);
    width: 380px;
    height: 380px;
}

#TeamWork .team_right img:nth-child(4) {
    position: absolute;
    top: 65%;
    right: -26%;
    transform: rotateX(40deg);
    width: 800px;
    height: 280px;
    z-index: -1;
}

#TeamWork .team_right img:nth-child(5) {
    position: absolute;
    top: -20%;
    left: -25%;
    width: 65px;
    height: 70px;
    animation: cursor 1s infinite linear alternate;
}

@keyframes cursor {
    from {
        transform: rotateZ(180deg) translateX(0) translateY(0);
    }

    to {
        transform: rotateZ(180deg) translateX(30px) translateY(30px);
    }
}

/* Contact */
#Contact {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Pretendard Variable";
}

.ani {
    position: absolute;
    top: 0%;
    left: -20%;

}

.inner {
    transform: rotateZ(-15deg);
}

.police-line {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;
    opacity: 75%;
    padding: 10px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, #111 40%, transparent 60%),
        linear-gradient(90deg, #111 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner .police-line>p {
    font-size: 100px;
    font-weight: 600;
    color: #111;
    opacity: 100%;
    animation: inner 60s linear infinite alternate;

}

@keyframes inner {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}




.ani01 {
    position: absolute;
    top: 50%;
    left: -29%;

}

.inner01 {
    transform: rotateZ(-10deg);
    opacity: 75%;

}

.police-line01 {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    padding: 10px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, #111 40%, transparent 60%),
        linear-gradient(90deg, #111 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner01 .police-line01>p {
    font-size: 100px;
    font-weight: 600;
    color: #111;
    opacity: 100%;
    animation: inner01 60s linear infinite alternate;

}

@keyframes inner01 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.ani02 {
    position: absolute;
    top: 50%;
    left: -40%;

}

.inner02 {
    transform: rotateZ(15deg)
}

.police-line02 {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    padding: 10px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, #111 40%, transparent 60%),
        linear-gradient(90deg, #111 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner02 .police-line02>p {
    font-size: 100px;
    font-weight: 600;
    color: #111;
    opacity: 100%;
    animation: inner02 60s linear infinite;

}

@keyframes inner02 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(40%, 0, 0);
        transform: translate3d(40%, 0, 0);
    }
}

.ani03 {
    position: absolute;
    top: 80%;
    left: -29%;
}

.inner03 {

    transform: rotateZ(5deg);


}

.police-line03 {
    display: flex;
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    font-size: 2rem;
    text-align: center;
    background-color: #f3e51d;

    padding: 10px 5px;
    margin: 2px 0;
    background-image:
        linear-gradient(90deg, #111 40%, transparent 60%),
        linear-gradient(90deg, #111 40%, transparent 50%);
    background-size: 80px 15px;
    background-position: top, bottom;
    background-repeat: repeat-x;
    transform: skewY(-30deg) rotateZ(30deg);


}

.inner03 .police-line03>p {
    font-size: 100px;
    font-weight: 600;
    color: #111;
    opacity: 100%;
    animation: inner03 60s linear infinite;
   

}

@keyframes inner03 {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}